@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 17%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 94%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --markdown-pre: #222;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 87%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --markdown-pre: #121212;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .markdown {
    @apply prose 
        prose-neutral 
        dark:prose-invert 
        dark:text-neutral-100
        prose-p:my-3
        prose-h1:font-extrabold
        prose-h1:text-3xl 
        prose-h1:mb-4 
        prose-h1:mt-2 
        prose-h2:mb-4 
        prose-h2:mt-2 
        prose-h2:font-extrabold 
        prose-h3:mb-3 
        prose-h3:mt-1 
        prose-h3:font-extrabold 
        prose-h4:my-2  
        prose-h4:font-bold 
        prose-h5:font-semibold 
        prose-h5:my-2  
        prose-h6:font-medium 
        prose-h6:my-2 
        prose-a:text-blue-500  
        prose-blockquote:p-0 
        prose-blockquote:pl-4 
        prose-th:text-start 
        dark:prose-blockquote:border-l-4 
        dark:prose-blockquote:border-l-neutral-700 
        prose-a:no-underline  
        prose-pre:p-0 
        prose-pre:m-0 
        prose-code:text-base
        prose-blockquote:!my-6
        prose-blockquote:text-base;
  }

  .markdown blockquote p {
    @apply py-2;
  }

  .markdown > pre:has(> code) {
    @apply my-4 !py-0;
  }

  .markdown > pre:has(> pre) {
    @apply !py-0 my-4;
  }

  .markdown code:not(pre code) {
    @apply bg-neutral-200 dark:bg-neutral-700 rounded-md !p-1;
  }

  .markdown code.undefined {
    @apply px-0;
  }

  .markdown pre:has(> code.undefined) {
    @apply bg-[#222] dark:bg-[#121212] !p-4;
  }

  .primary-color {
    @apply bg-neutral-50 dark:bg-neutral-950;
  }

  .secondary-color {
    @apply bg-white dark:bg-neutral-900;
  }

  .secondary-container {
    @apply secondary-color rounded-md max-w-3xl m-auto;
  }

  .animate-slide-bg-dark {
    background: linear-gradient(
      90deg,
      transparent 40%,
      #2a2a2a 47%,
      #2a2a2a 53%,
      transparent 60%
    );
    background-size: 200% 100%;
  }

  .animate-slide-bg {
    background: linear-gradient(
      90deg,
      transparent 40%,
      #eee 47%,
      #eee 53%,
      transparent 60%
    );
    background-size: 200% 100%;
  }
}

/* Custom markdown editor */
.rc-md-editor {
  @apply rounded bg-neutral-100 dark:bg-neutral-900 dark:border-neutral-800 pb-0 !important;
}

.rc-md-editor .rc-md-navigation {
  @apply !bg-neutral-50 dark:!bg-neutral-950 dark:border-b-neutral-700 rounded-tl-md rounded-tr-md;
}

.rc-md-editor .editor-container {
  @apply rounded-b-[0.2rem] overflow-hidden dark:!bg-neutral-900;
}

.rc-md-editor .navigation-nav .button-wrap .button {
  @apply dark:text-neutral-300 dark:hover:text-white;
}

.rc-md-editor .navigation-nav .button-wrap .button.button-type-underline {
  @apply hidden;
}

.rc-md-editor .navigation-nav .drop-wrap {
  @apply dark:bg-neutral-900 dark:text-white !important;
}

.rc-md-editor .navigation-nav .drop-wrap .header-list > :first-child {
  @apply hidden;
}

.rc-md-editor .navigation-nav .drop-wrap .list-item {
  @apply dark:hover:bg-neutral-700;
}

.rc-md-editor .navigation-nav .drop-wrap .table-list .list-item {
  @apply dark:hover:bg-neutral-400;
}

.rc-md-editor .editor-container .sec-md {
  @apply border-r-2 md:border-r-0 border-r-neutral-100 dark:border-r-neutral-800 rounded-md  !important;
}

.rc-md-editor .editor-container .sec-md,
.rc-md-editor .editor-container .section {
  @apply border-r-2 dark:border-neutral-700;
}

.rc-md-editor .editor-container .section:last-child {
  @apply border-r-0;
}

.rc-md-editor .editor-container {
  @apply primary-color;
}

/* Markdown edit field */
.rc-md-editor .editor-container .sec-md .input,
.editor-container .html-wrap {
  @apply scrollbar-thin scrollbar-track-[#f7f7f7] dark:scrollbar-track-[#141414] scrollbar-thumb-neutral-400 overflow-auto;
}

.rc-md-editor .editor-container .sec-md .input {
  @apply text-base bg-white dark:bg-neutral-900 dark:text-white placeholder:text-neutral-500 dark:placeholder:text-neutral-400 !important;
}

/* Preview field */
.editor-container .html-wrap {
  @apply bg-white dark:bg-neutral-900;
}

.editor-container .html-wrap .custom-html-style {
  @apply max-w-prose mx-auto;
}

.editor-container .custom-html-style h1 {
  @apply text-3xl font-extrabold mb-4 mt-2;
}

.editor-container .custom-html-style h2 {
  @apply text-2xl font-extrabold mb-4 mt-2 leading-8;
}
.editor-container .custom-html-style h3 {
  @apply text-xl font-extrabold mb-3 mt-1 leading-8;
}
.editor-container .custom-html-style h4 {
  @apply font-bold my-2 leading-6;
}
.editor-container .custom-html-style h5 {
  @apply font-semibold my-[0.625rem];
}
.editor-container .custom-html-style h6 {
  @apply font-medium my-[0.625rem];
}

.editor-container .custom-html-style hr {
  @apply dark:border-t-neutral-700;
}

.editor-container .custom-html-style p,
.editor-container .custom-html-style strong,
.editor-container .custom-html-style em,
.editor-container .custom-html-style a,
.editor-container .custom-html-style blockquote,
.editor-container .custom-html-style h4,
.editor-container .custom-html-style h5,
.editor-container .custom-html-style h6 {
  @apply text-base dark:text-white;
}

.editor-container .custom-html-style p {
  @apply my-3;
}

.editor-container .custom-html-style ul,
.editor-container .custom-html-style ol {
  @apply my-5 pl-[1.625rem];
}

.editor-container .custom-html-style li {
  @apply text-base leading-7;
}

.editor-container .custom-html-style code {
  @apply text-base;
}

.editor-container .custom-html-style code:not(pre code) {
  @apply text-base !bg-neutral-200 dark:!bg-neutral-700 rounded-md p-1;
}

.editor-container .custom-html-style a,
.editor-container .custom-html-style a:hover {
  @apply text-base font-medium text-blue-500 dark:text-blue-500 no-underline;
}

.editor-container .custom-html-style blockquote {
  @apply font-medium border-l-4 bg-inherit p-[0] pl-4 dark:prose-blockquote:border-l-neutral-700;
}

.editor-container .custom-html-style code {
  @apply bg-inherit;
}

.editor-container .custom-html-style pre {
  @apply rounded-md bg-neutral-800 dark:bg-neutral-950 p-0 m-0;
}

.editor-container .custom-html-style .markdown > pre:has(> code) {
  @apply my-4 !py-0;
}

.editor-container .custom-html-style .markdown > pre:has(> pre) {
  @apply !py-0 my-4;
}

.markdown > pre:has(> code) {
  @apply my-4 !py-0;
}

.markdown > pre:has(> pre) {
  @apply !py-0 my-4;
}

.editor-container .custom-html-style table {
  @apply border-none;
}

.editor-container .custom-html-style thead {
  @apply border-b-[0.0625rem];
}

.editor-container .custom-html-style th {
  @apply pt-[0.0625rem] pb-2 text-left bg-inherit font-semibold;
}

.editor-container .custom-html-style tr {
  @apply pt-[0.0625rem] pb-2 text-left bg-inherit border-t-0 border-l-0 border-r-0 border-0 border-b-[0.0625rem] border-b-neutral-200 dark:border-b-neutral-700;
}

.editor-container .custom-html-style tr:last-child {
  @apply border-b-0;
}

.editor-container .custom-html-style th {
  @apply border-none !important;
}

.editor-container .custom-html-style th:first-of-type,
.editor-container .custom-html-style td:first-of-type {
  @apply pl-0 pr-2;
}

.editor-container .custom-html-style th:last-of-type,
.editor-container .custom-html-style td:last-of-type {
  @apply pl-2 pr-0;
}

.editor-container .custom-html-style th:not(:first-of-type):not(:last-of-type),
.editor-container .custom-html-style td:not(:first-of-type):not(:last-of-type) {
  @apply px-2;
}

.editor-container .custom-html-style td {
  @apply border-none p-2 px-0;
}
